body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather',serif;
    background-color: none;
}
.top{
    padding-top: 160px;
    position:relative;
    width: 100%;
    height: 630px;
    background: linear-gradient(120deg,  #ffd8a6, #dc9941)
    
}
#mountain1{
    position: relative;

}

h1{  display:inline;
    color: #248e04;
    margin:0px;
    font-family: 'Sacramento', cursive;
    font-size: 80px;
}
h1:hover{
    color: #248e047b;
}
h2{
    display:inline;
    color: #609966;
    margin:0px;
    font-family: 'Sacramento', cursive;
    font-size: 50px;

}
h3{
    font-size: 20px;
}

#ceo{   
    color: #609966;   
}

#cloud1{
    position: absolute;
    left: 70%;
    bottom: 80%;    
}

#cloud2{
    position: absolute;
    left:25%;
}



.middle{
    
    width: 100%;
    height: 800px;
    margin-top: 0px;
    position: relative;


}
.about-kashidari{
    width: 50%;
    margin:0px auto 10%;
    padding-top: 10%;
    position: relative;
    
 

}
.about-tech{
    width: 50%;
    margin:150px auto;
    padding-bottom: 10%;
 

}
.k1{
    text-align: left;
    margin-left: 20px;
    margin-top: 0px;
    line-height: 28px;
    color: #329d3c;

}
.k2{
    text-align:left;
    margin-top: 0px;
    margin-right: 20px;
    color: #329d3c;
}

.middle-img-1{
    border-radius: 10px;
    float: left;
    width:37%;
    height: 150px;
    margin-right: 20px;
}
.middle-img-2{
        border-radius: 10px;
        float:right;
        width:37%;
        height: 170px;
        margin-left: 20px;
    
}
.end{
    padding: 25px;
    height: 300px;
    background-color: #85b577;
    position: relative;
    background: linear-gradient(120deg,   #f1ba7c,#d6862bee);

}


.logo{
    height: 20px;
}
a:hover{
    color: #248e04
    
}
a{
    text-decoration: none;
    
}