body{
    margin: 0px;
    text-align: center;
 
    font-family: 'Merriweather',serif;
}

h1{
    color: #609966;
     margin:0px;
    font-family: 'Sacramento', cursive;
    font-size: 60px;
}
#ceo{
    color: #609966;
    font-family: 'Sacramento', cursive;
    font-size: 25px;
    margin: 0px;
}
#cloud1{
    position: absolute;
    left: 900px;
    bottom: 520px;
    
}
#cloud2{
    position: absolute;
}


.top{
    padding-top: 200px;
    position:relative;
    background-color: #E1EEDD;
    width: 100%;
    height: 480px;
  
}
.bottom{
    background-color: #c8ebbd;
    width: 100%;
    height: 500px;

}
.end{
    padding: 25px;
    height: 300px;
    background-color: #85b577;
    position: relative;
}

h1:hover{
    color:red;
}
.logo{
    height: 20px;
}
a:hover{
    color:red;
    
}
a{
    text-decoration: none;
    
}